@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    background-color:bisque;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.pope-header{
    text-align: center;
    font-size: 200px;
    font-family: 'Bungee Shade', cursive;
    color:rgb(115, 89, 58);
    margin-bottom: 100px;
}

.sect{
    width: 1500px;
    height: 700px;
    background-color: bisque;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    color:rgb(115, 89, 58);
}

.opt-btn{
    margin-left: 100px;
    margin-top: 100px;
    background: rgb(255,196,0);
    background: radial-gradient(circle, rgba(255,196,0,1) 20%, rgba(207,161,102,1) 44%);
    padding:50px;
    border-radius: 100px;
}

.opt-btn:hover{
    box-shadow: 0px 100px 240px 0px rgba(207,161,102,1);
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s, box-shadow 0.3s;
}

#sect3{
    margin-top: 100px;
}